
.Meunome {
  color: rgb(243, 15, 91);
  font-size: 2em;
  text-align: center;
}
h3 {
  color: black;
  font: size 100px;
}
body {
  background-color: blanchedalmond;
  font-size: 20px;
  display: inline-block;
  margin: 0 auto;
}
img {
  border-radius: 50%;
  border-top: 100px;
  height: 400px;
  width: 400px;
  float: left;
  padding: 10px;
  background-color: rgb(226, 9, 81);
}
.Image.container {
  height: 400px;
  position: relative;
  }
#habilidadehobbies {
 /*  border: 1px solid green; */
  display: block;
  margin: 0 auto;
  width: 500px;
  overflow: hidden;
}
#Habilidades {
  /* border: 1px solid blue; */
  /* display: inline-block; */
  float: left;
  
}
#Hobbies {
  /* border: 1px solid blue; */
  /* display: inline-block; */
  float: right;
 
}
#final {
  clear: both;
}
div {
  border: solid green;
}
.Descricao {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: center;
  right: 30px;
}
.curiosidade {
 position: center;
 color: rgb(235, 8, 46);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.habilidades [
 
]